.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(/img/bg-horizontal.jpg);
	background-size: cover;

	& nav {
		position: absolute;
		top: 0.5em;
		left: 0.5em;

		& .btn-round {
			padding: 0.3em 0 0 0;
			width: 2.5em;
			height: 2.5em;
		}
	}
}

svg.svg-home {
	width: 1.25em;
	fill: var(--clr-purple);
}
