.header {
	width: 100%;
	flex-grow: 1;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding-top: 1.75em; */

	& h1 {
		font-size: 2.5em;
		font-family: dual,sans-serif;
		font-weight: 600;
		line-height: 1em;
		text-transform: uppercase;
		text-align: center;
		white-space: pre-line;
		margin: 0 0 0.25em 0;

		&:last-child {
			margin: 0;
		}
	}
}

.config-ui {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 4em;
}
