.pose-photo {
	text-align: center;
	padding: 5em 2em 0 2em;
}

.bottom-block {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 2em;
}

.icon-block {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

.icon-circle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.15);
	border-radius: 50%;
	width: 8em;
	height: 8em;
	user-select: none;
}

svg.arrow {
	fill: var(--clr-yellow);
	height: 5em;
}
