.app {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(/img/bg-vertical.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
}

.nav {
	position: absolute;
	left: 0;
	bottom: 1em;
	width: 100%;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
}
