.photo-editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;

	& .photo-container {
		position: relative;
		height: 100%;
		overflow: hidden;

		& canvas.photo {
			height: 100%;
			background-color: #000;
			user-select: none;
		}

		& .distsel {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			width: 80px;
			height: 80px;
			border: #FFF 2px dashed;
			border-radius: 50%;
			user-select: none;
			pointer-events: none;
		}
	}

	& .editor-controls {
		padding: 0.5em 2em;
		height: 100%;
		flex-grow: 1;

		& .retake-block {
			& .btn-round {
				padding: 0.3em 0 0 0;
				width: 2.5em;
				height: 2.5em;
				margin-right: 0.65em;

				& svg {
					width: 1.25em;
					fill: var(--clr-purple);
				}
			}

			& span {
				font-size: 1.125em;
				color: var(--clr-yellow);
				text-transform: uppercase;
			}
		}

		& .filter-buttons {
			width: 100%;
			display: flex;
			justify-content: space-between;

			& button {
				display: block;
				padding: 0;
				border: #888 3px solid;
				border-radius: 0.25em;
				width: 6em;
				height: 6em;
				background-size: cover;

				&.active {
					border-color: var(--clr-yellow);
				}
			}
		}

		& .finish-block {
			margin-top: 3em;
			text-align: center;

			& .btn-big {
				min-width: 8em;
				margin-right: 0.5em;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.abort-fader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	/* animation: fade-in 0.35s; */
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

.confirm-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-image: url(/img/bg-horizontal.jpg);
	background-size: cover;

	& .confirm-block {
		text-align: center;

		& .buttons-row {
			margin-top: 1em;
			text-align: center;

			& button.btn-big {
				min-width: 7em;
			}
		}
	}
}
