.quiz-end {
	text-align: center;
	padding-top: 5em;

	& h1 {
		font-size: 1.675em;
		font-weight: 600;
		color: #CCC;
	}
}

.personality-traits {
	margin-top: 1em;
	font-size: 2.25em;
	font-family: dual,sans-serif;
	font-weight: 600;
	color: var(--clr-yellow);

	& .trait {
		text-transform: uppercase;
		margin-bottom: 0.375em;
	}
}
