.modify-face {
	text-align: center;
	padding: 3.25em 2em 0 2em;

	& h1 {
		margin: 0.875em 0;
		font-weight: 600;
	}

	& h2 {
		font-weight: 600;
		color: var(--clr-white);
	}
}

.bottom-photo {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0em;

	& .img-photo {
		width: 100%;
	}
}
