.photo-booth {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;

	& .video-container {
		height: 100%;

		& video {
			/* Crop video to video element width */
			height: 100%;
			object-fit: cover;
			background-color: #000;
			transform: scaleX(-1);
		}
	}

	& .camera-controls {
		position: relative;
		padding: 4em 3em 0 3em;
		height: 100%;
		flex-grow: 1;

		& .step {
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		& .shoot-container {
			position: absolute;
			left: 0;
			bottom: 3em;
			width: 100%;
			text-align: center;
		}
	}
}

.svg-camera {
	width: 3.5em;
	fill: var(--clr-purple);
}
