.quiz {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	& h2 {
		text-align: center;
	}
}

table.tbl-quiz {
	width: 100%;
	border-collapse: collapse;

	& > tr.content {
		& > td {
			background-color: var(--clr-purple);
			/* Cells containing pictures at left/right edges */
			&:first-child, &:last-child {
				padding: 0.5em 1em;
				text-align: center;
			}
		}
	}

	& > tr.spacer {
		& > td {
			background-color: transparent;
		}
	}
}

.img-quiz {
	max-width: 8em;
	height: 8em;
}

.btn-quiz {
	font-size: 1.25em;
	font-family: dual,sans-serif;
	font-weight: 600;
	white-space: pre-line;
	height: 5em;
	width: 100%;
	margin: 0 0.5em;
	color: #8877CC;
	background-color: #595298;
	border: none;
	/* padding: 1em 1em 0 1em; */
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&.selected, &:active {
		border: none;
		background-color: var(--clr-yellow);
	}
}

.quiz-item {
	& h3 {
		text-align: center;
	}

	& .more-less {
		width: 100%;
		display: flex;
		justify-content: space-between;

		& .more, & .less {
			color: var(--clr-yellow);
			font-weight: 600;
		}
	}

	& .answers {
		margin-top: 1em;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.quiz-footer {
	padding: 2em 0;
	text-align: center;
}

/** Style overrides for custom checkbox component */

/* radio indicator (displayed when checked) */
.mithril-checkbox input[type="radio"] ~ .mithril-checkbox-shape:after {
	background-color: #CCC;
}
