.start-screen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	& .lang-select-text {
		font-size: 1.75em;
		font-weight: 200;
		margin-bottom: 1.5em;
	}
}

.config-ui {
	position: absolute;
	left: 0;
	bottom: 3em;
	width: 100%;
	text-align: center;
}
