.admin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& button.btn-img {
		width: 6em;
		height: 6em;
		border: #888 3px solid;
		border-radius: 0;
		background-size: cover;

		&.selected {
			border-color: #C33;
		}
	}
}

/** Appears on start screen */
.admin-trigger {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 7em;
	height: 7em;
	background-color: transparent; /* #C33; */
}
