/* Atomic Styles */

.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.uc {
	text-transform: uppercase;
}

.lbr {
	white-space: pre-line;
}

.flt {
	font-weight: 200;
}
.fmd {
	font-weight: 400;
}
.fbd {
	font-weight: 600;
}
.fbk {
	font-weight: 700;
}

.mt1 {
	margin-top: 1em;
}
.mb1 {
	margin-bottom: 1em;
}

.yellow {
	color: var(--clr-yellow);
}

.termina {
	font-family: termina,sans-serif;
}

.btn-round {
	font-family: termina,sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	color: var(--clr-bg);
	background-color: var(--clr-yellow);
	width: 8em;
	height: 8em;
	border-radius: 50%;
	text-transform: uppercase;

	&:active {
		color: var(--clr-bg-active);
		background-color: var(--clr-yellow-active);
	}
}

.btn-big {
	font-family: termina,sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	color: var(--clr-bg);
	background-color: var(--clr-yellow);
	border-radius: 0.2em;
	text-transform: uppercase;
	padding: 0.625em 2.5em;

	&:active {
		color: var(--clr-bg-active);
		background-color: var(--clr-yellow-active);
	}
}

.buttons-row {
	& button {
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
	}
}
