/* Dual */
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual100.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual200.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual400.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'dual';
	src: url('../fonts/dual600.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

/* Termina */
@font-face {
	font-family: 'termina';
	src: url('../fonts/termina400.woff2') format('woff2'),
		 url('../fonts/termina400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'termina';
	src: url('../fonts/termina700.woff2') format('woff2'),
		 url('../fonts/termina700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
