html {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
	/* For Electron app - to disable text selection */
	user-select: none;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
	margin: 0.25em 0;
}

p {
	margin: 0.5em 0;
}

base, basefont, datalist, head, meta, script, style, title, noembed, param, template {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

sup {
	font-size: 0.6em;
}
